<div class="container">
    <div class="header">
        <h3>Cart</h3>
        <h3>{{numberOfItems}} items</h3>
    </div>
    <div class="productList" [ngClass]="{'noProduct': showEmptyCartMessage}">
        <div *ngFor="let product of productsInCart" class="productWrapper">
            {{product.name}}
        </div>
        <span class="emptyCart" *ngIf="showEmptyCartMessage">
            Your cart is empty
        </span>
    </div>
    <div class="footer">
        <button 
            (click)="onCheckout()" 
            [ngClass]="{'btnBlue': buttonColor === 'blue', 'btnRed' : buttonColor === 'red' }"
        >Checkout &#8594;</button>
    </div>
</div>